<!DOCTYPE html>
<html>
<head>
  <title>WifiPrinter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] -%>
	<div id="notice" style="border: dotted 2px green; padding: 5px 15px; color: brown; background-color: yellow;">
		<b><%= flash[:notice] %></b>
	</div>
<% end %>

<%= yield %>

</body>
</html>
